<div class="trip-container leaflet-bar" id="new-trip">
  UR GOIN ON A TRIP, MOFO!!!!!

  <ul>
    {{#each trip.destinations as |destination|}}
      <li>Where?{{destination.pin.name}}</li>
        Coordinates:[{{destination.pin.lat}}, {{destination.pin.long}}]
    {{/each}}
  </ul>

</div>
