<div class="trip-container leaflet-bar" id="new-trip">
  <h3>Trip Details</h3>

  <ul>
    {{#each trip.destinations as |destination|}}
      <li>{{destination.pin.nickname}}</li>
        <!-- Coordinates:[{{destination.pin.lat}}, {{destination.pin.long}}] -->
    {{/each}}
  </ul>

</div>
