<strong>Add a pin</strong>
<form class="form-horizontal" {{action "submitPin" on="submit"}}>
  {{input value=pin.nickname id="pin-nickname" placeholder="Where?"}}
  {{input value=pin.startDate  id="pin-startDate" placeholder="When?"}}
  {{input value=pin.description  id="pin-description" placeholder="Tell us about it"}}
  <!-- need lat and long -->
  <button type="submit" class="btn btn-primary"></button>
</form>
<br><br>
