

<div class="col-xs-12" id='pin-form'>

  <div class="" id="pin-field">
    {{input value=pin.nickname id="pin-nickname" placeholder="Where?"}}
  </div>
  <div class="" id="pin-field">
    {{input value=pin.startDate  id="pin-startDate" placeholder="When?"}}
  </div>
  <div class="" id="pin-field">
    {{input value=pin.description  id="pin-description" placeholder="Tell us about it"}}
  </div>

</div>
