<div class="">
  Name: {{trip.name}}

  <ul>
    {{#each trip.destinations as |destination|}}
      <li>Where?{{destination.pin.name}}</li>
        Coordinates:[{{destination.pin.lat}}, {{destination.pin.long}}]
    {{/each}}
  </ul>

</div>
