@import "bootstrap";

body {
    // background-color: #f2f4fa;
    background-color: #535353;
}

// Login Page
////////////////////////

#login-form {
    background-color: #333333;
    border-radius: 4px;
    margin: 180px auto 0 auto;
    width: 290px;
}
#login-form input {
    display: block;
    width: 250px;
    margin: 20px;
    background-color: #535353;
}
#login-form input, select, textarea{
    // color: #ff0000;
    color: rgb(243,224,74);
}

#login-form h2 {
    margin: 20px;
    // color: #FFB627;
    color: rgb(243,224,74);
    font-weight: normal;
    padding-top: 20px;
    text-align: center;
}

#login-form button[type='submit'] {
    margin: 0 0 20px 20px;
    width: 250px;
    // background-color: #255afa;
    background-color: rgb(243,224,74);
    // color: #fff;
    color: #333333;

    letter-spacing: 1px;
}

#login-form label {
    display: none;
}

#douche {
  display: block;
  width: 250px;

  text-align: center;
  padding-bottom: 1em;
  margin: auto;
  color: rgb(243,224,74);
  opacity: 0.75;
}

// Logo & Right Nav
////////////////////////

h2#title {
    background: transparent url("/globo-drop-shadow.png") top left no-repeat;
    background-size: 175px;
    position: absolute;
    top: -15px;
    right: 10px;
    width: 0;
    display: inline-block;
    overflow: hidden;
    height: 175px;
    padding-left: 175px;
    z-index: 1;
}

#user-legend-wrapper {
    position: absolute;
    top: 195px;
    right: 57px;
    z-index: 1;
    background-color: transparent;
}

#user-legend {
    float: right;
    opacity: 0.85;
    color: rgb(243,224,74);
}

#user-legend .btn {
  background-color: #535353;
}

#user-legend ul {
    list-style: none;
}

// Map
////////////////////////

.g-map-canvas {
  width: 1000px;
  height: 500px;
}

.leaflet-container {
    height: 100vh;
    width: 100vw;
    // height: 500px;
    // width: 500px;
    // z-index: -1;
    // height: 100px;
    // width: 100px;
    // position: absolute;
    // top: 0;
    // right: 0;
}



// Left Nav Bar
////////////////////////

#nav-btn-group {
  display: block;
  bottom: 10px;
  left: 10px;
  width: 6.5em;
  position: absolute;
}

#nav-btn-group a {
  width:inherit;
  margin-bottom: 5px;
  background-color: #535353;
  opacity: 0.85;
  text-decoration: none

}

#add-trip.active a, #add-pin.active a, #filter-button-future.active a, #filter-button-past.active a {
    background-color: #333333;
    color: rgb(243,224,74);

}

#add-trip a, #add-pin a, #filter-button-future a, #filter-button-past a {
    width: 90px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(243,224,74);
    opacity: 0.85;

}

// Search Bar
////////////////////////

#search-location-wrapper {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#search-location {
    float: right;
    margin: 0 10px 10px 0;
}

#search-location form input {
    width: 260px;
    padding-left: 4px;
}

// New Trip Component
////////////////////////

#new-trip {
  z-index: 1;
  position: absolute;
  height: 250px;
  overflow-y: scroll;
  top: 200px;
  left: 10px;
  background-color: #535353;
  color: rgb(243,224,74);
  opacity: 0.9;
  width: 300px;
}

#new-trip ol {
  width: 280px;
  padding-left: 34px;
}

#new-trip ol li {
  margin-bottom: .25em;
}

#new-trip h3 {
  text-align: center;
}


// Edit state indicator
/////////////////////////

#state-indicator-wrapper {
    width: 50%;
    // height: 30px;
    position: absolute;
    bottom: 50px;
    // right: 25%;
    left: 25%;
    // margin: 0 auto;
    z-index: 1;
    text-align: center;
}

#state-indicator {
    // float: right;
    // display: inline-block;
    opacity: 0.4;
    font-size:250%;
    color: #a11;
    font-family: cursive;
}


// Pin popup card
////////////////////////

#pin-title {
  text-align: center;
}

.pin-action {
  display: inline-block;
  // text-align: center;
}

#pin-save {
  margin-left: 4.5em;
  text-align: center;

}

#pin-edit {
  margin-left: .5em;
}

#pin-delete {
  margin-left: 3.5em;
}
