<h2 id="title">Welcome to Globo</h2>

  {{#if session.isAuthenticated}}
    <li><button class='btn' {{action "logout"}}> Log Out</button></li>
    {{else}}
    <li>{{link-to "Login" login}}</li>
  {{/if}}

{{outlet}}
