<h2 id="title">Welcome to Globo</h2>

{{#if session.isAuthenticated}}
<div id="user-legend-wrapper">
  <div id="user-legend" class="leaflet-bar">
    <button class='btn' {{action "logout"}}> Log Out</button>
  </div>
</div>
{{/if}}

{{outlet}}
