<div id="login-form" class="leaflet-bar">
  <h2>Create an account</h2>
  <form {{action 'register' on='submit'}}>
    <label for="name">Name</label>
    {{input id='name' placeholder='Enter your name' value=name type="text" class="form-control"}}
    <label for="identification">Email</label>
    {{input id='identification' placeholder='Enter your Email' value=identification type="email" class="form-control"}}
    <label for="password">Password</label>
    {{input id='password' placeholder='Enter Password' type='password' value=password class="form-control"}}
    <button type="submit" class="btn">Register</button>
  </form>
</div>
